.courses {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .courses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .courses {
    grid-template-columns: repeat(3, 1fr);
  }
}

.course {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--secondary);
  border-radius: 0.5rem;
  padding: 1rem;
}

.course p {
  color: var(--primary);
}

.course_par {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.registration {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
}

.registration a {
  margin-top: 1rem;
  background-color: var(--secondary);
  min-width: 7.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid var(--secondary);
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bold;
}

.registration a:hover,
.registration a:focus {
  background-color: var(--background);
}

.rounds {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.round {
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  align-items: center;
  font-size: 1.1rem;
}

@media (min-width: 768px) {
  .round {
    grid-template-columns: 2fr 2fr 1fr 3fr;
  }
}

.round span:nth-child(2)::before {
  content: "@";
}

@media (max-width: 767px) {
  .round span:nth-child(2) {
    justify-self: flex-end;
  }

  .round span:nth-child(3) {
    font-weight: bold;
    font-size: 2rem;
    grid-column: span 2;
    margin: 0.25rem 0;
    justify-self: center;
    grid-row: 2;
  }

  .holes {
    grid-column: span 2;
  }
}

.round:not(:last-child) {
  border-bottom: 1px solid var(--secondary);
}

.header {
  display: none;
}
@media (min-width: 768px) {
  .header {
    display: grid;
    font-weight: bold;
    font-size: 0.9rem;
    color: var(--primary);
  }
}

.holes {
  place-items: center;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.holes:nth-child(1) {
  border-right: 1px solid var(red);
}
