@import url("https://fonts.googleapis.com/css?family=Noto Sans Shavian:700|Noto Sans Shavian:400");

:root {
  --text: #070708;
  --background: #edecee;
  --primary: #403c3b;
  --secondary: #cecdd0;
  --accent: #646d66;
}

/* :root { */
/*   --text:        #f7f7f8; */
/*   --background:  #232224; */
/*   --primary:     #d5d1cf; */
/*   --secondary:   #413f43; */
/*   --accent:      #a3aca5; */
/* } */

* {
  margin: 0;
  padding-inline-start: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans Shavian";
  font-weight: 400;
  color: var(--text);
}

html {
  font-size: 100%;
  background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
p {
  color: var(--primary);
}
h1 {
  font-size: 2rem; /* 67.36px */
  font-weight: bold;
}

h2 {
  font-size: 1.5rem; /* 50.56px */
  font-weight: bold;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

h4 {
  font-size: 1.1rem;
  font-weight: bold;
}

h5 {
  font-size: 1rem;
  font-weight: bold;
}

small {
  font-size: 0.8rem;
}

main {
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  width: 100%;
  display: flex;
  border-bottom: 2px solid var(--secondary);
  margin-bottom: 2rem;
  gap: 1rem;
}

header button {
  border: none;
  background: none;
  font-size: 2rem;
  cursor: pointer;
}

nav {
  width: 100%;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

nav ul li {
  padding: 1rem;
}

a {
  color: var(--text);
  text-decoration: underline 1px var(--background);
  transition: 0.15s;
}

a:hover,
a:focus {
  text-decoration: underline 1px var(--accent);
}

input[type="number"],
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}
