<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GolfSkor</title>
    <link th:href="@{/styles.css}" rel="stylesheet" />
    <link th:href="@{/courses.css}" rel="stylesheet" />
</head>
<body>
    <header th:replace="~{ header :: header }"/>
    <main>
      <h1>GolfSkor</h1>

      <div th:if="${user == null}">
        <h2>Velkommen til GolfSkor</h2> 
        <p>Vinsamlegast <a href="/login">skráið ykkur inn</a> eða <a href="/register">nýskráið</a> til þess að halda áfram.</p>
        <p>Ef þið bara <a href="/courses">skoða velli</a> þá er það ekkert mál.</p> 
        </div>

      <div th:if="${user != null}">
        <h2 th:text="'Spilari: ' + ${user.username}" />
        <p>Gaman að sjá þig</p>

        <div th:if="${user.rounds != null}">
          <h3>Þínir leikir:</h3>
          <ul class="course_rounds">
            <li class="container" th:each="round: ${user.rounds}">
              <ul class="round">
                <li th:each="hole: ${round.holes}" th:text="${hole}" />
              </ul>
              <p th:text="${round.course.courseName}" />
            </li>
          </ul>
        </div>
        <div th:if="${user.getRounds() == null}">
          <h3>Þú hefur ekki skráð neina leiki</h3>
          <p>Þetta kemur alltaf? þarf að tékka á user.rounds</p>
        </div>
      </div>
    </main>
</body>
</html>
