<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GolfSkor</title>
    <link th:href="@{/styles.css}" rel="stylesheet" />
    <link th:href="@{/courses.css}" rel="stylesheet" />
</head>
<body>
    <header th:replace="~{ header :: header }"/>
    <main>
      <h1>GolfSkor</h1>

      <div th:if="${user == null}">
        <h2>Velkommen til GolfSkor</h2> 
        <p>Vinsamlegast <a href="/login">skráið ykkur inn</a> eða <a href="/register">nýskráið</a> til þess að halda áfram.</p>
        <p>Ef þið bara <a href="/courses">skoða velli</a> þá er það ekkert mál.</p> 
        </div>

      <div th:if="${user != null}">
        <h2 th:text="'Spilari: ' + ${user.username}" />
        <p>Gaman að sjá þig</p>

        <div th:if="${not #lists.isEmpty(rounds)}">
          <h3>Þínir hringir:</h3>
          <ul class="course_rounds">
            <li class="course_container" th:each="round: ${rounds}">
              <ul class="round">
                <li th:each="hole: ${round.getHoles()}" th:text="${hole}" />
                <a th:if="${user != null}" th:href=" '/round/delete/' + ${round.id}" role="button">Eyða Hring</a>
                <a th:if="${user != null}" th:href=" '/round/update/' + ${round.id}" role="button">Breyta Hring</a>
              </ul>
              <p th:text="${round.getCourse().getCourseName()}" />
            </li>
          </ul>
        </div>
        <div th:if="${#lists.isEmpty(rounds)}">
          <h3>Þú hefur ekki skráð neina hringi</h3>
        </div>
      </div>
    </main>
</body>
</html>
