<html xmlns:th="https://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Signup</title>
    <link th:href="@{/styles.css}" rel="stylesheet" />
  </head>
  <body>
    <header th:replace="~{ header :: header }" />
    <main>
      <h2>Skrá hring</h2>
      <form
        action="#"
        th:action="${endpoint}"
        th:object="${holes}"
        method="post"
      >
        <div th:each="hole, index : *{holeList}">
          <input
            type="number"
            th:field="*{holeList[__${index.index}__]}"
            value=""
            min="1"
            required
          />
        </div>
        <input type="submit" value="Skrá skor" />
      </form>
      <p th:text="${error}" />
    </main>
  </body>

  <script>
    // Set all input values to null on page load and prevents negative numbers
    const inputs = document.querySelectorAll("input[type=number]");
    inputs.forEach((input) => {
      if (input.value == 0) {
        input.value = null;
      }
      input.addEventListener("change", (e) => {
        if (e.target.value < 1) {
          e.target.value = 1;
        }
      });
    });
  </script>
</html>
