<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link th:href="@{/styles.css}" rel="stylesheet" />
</head>
<body>
  <header th:replace="~{ header :: header }"/>
  <main>
    <h2>Skrá hring</h2>
    <form action="#" th:action="@{/round/} + ${course_id}" th:object="${holes}"  method="post">
      <input typse="number" name="score" id="score" th:field="*{hole1}" required/>
      <input typse="number" name="score" id="score" th:field="*{hole2}" required/>
      <input typse="number" name="score" id="score" th:field="*{hole3}" required/>
      <input typse="number" name="score" id="score" th:field="*{hole4}" required/>
      <input typse="number" name="score" id="score" th:field="*{hole5}" required/>
      <input typse="number" name="score" id="score" th:field="*{hole6}" required/>
      <input typse="number" name="score" id="score" th:field="*{hole7}" required/>
      <input typse="number" name="score" id="score" th:field="*{hole8}" required/>
      <input typse="number" name="score" id="score" th:field="*{hole9}" required/>
      <input type="submit" value="Skrá skor"/>
    </form>
    <p th:text="${error}" />
  </main>
</body>
</html>
